<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
    <div class="container" style="padding: 0px 30px; margin-top: 20px">
        <div class="title" style="background-color: #cecece; padding: 10px 30px">
            <h1>Xem dữ liệu</h1>
            <a href="/admin-insert">Insert Product</a>
            <hr />
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>OldPrice</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Brand</th>

                </tr>
            </thead>
            <tbody>
                <% product.forEach((item) => { %>
                    <tr>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.price %>
                        </td>
                        <td>
                            <%= item.oldPrice %>
                        </td>
                        <td>
                            <img src="<%= item.thumbnail %>" alt="" style="width: 100px" />
                        </td>
                        <td>
                            <%= item.category %>
                        </td>
                        <td>
                            <%= item.brand %>
                        </td>
                        <td>
                            <form action="/api/v1/product/delete-product/<%= item._id %>" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                        <td>
                            <a href="/api/v1/product/update-product/<%= item._id %>" class="btn btn-warning">Update</a>
                            <%}) %>

                    </tr>

            </tbody>
        </table>
    </div>
</body>

</html>